:root{
    --main-color: #19283F;
    --main2-color: #33D1CC;
    --primary-color: #FF3150;
    --secondry-color: #FFC400;
    --background-color: #EFF7FA;
}
a{
    text-decoration: none;
    color: inherit;
}
p{
    font-weight: 500;
}
.log{
    color: var(--secondry-color);
    background-color: var(--primary-color);
    padding: .5rem 1rem;
}
.header-title::before{
    content: "";
    position: absolute;
    height: 1px;
    width: 150px;
    background-color: var(--main2-color);
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}
body{
    font-family:  'Roboto', sans-serif;
    scroll-behavior: smooth;
}
nav{
    background-color: var(--main-color);
}
nav .navbar-toggler:focus{
    box-shadow: none;
}
nav .collapse ul li .nav-link{
    color: white;
}
nav .collapse svg{
    border-left: 1px solid;
    font-weight: bold;
    color: white;
}
nav .collapse ul li .nav-link .active,
nav .collapse ul li .nav-link:hover,
nav .collapse ul li .nav-link:focus,
nav .collapse svg:focus,
nav .collapse svg:hover{
    color: var(--main2-color);
}
.landing{
    background-color: var(--main-color);
    height: calc(100vh - 72px);
}
.features .container .row{
    counter-reset: num;
}
.features .row h3{
    color: var(--secondry-color);
}
.features .row .icon-holder{
    counter-increment: num;
}
.features .row svg{
    color: var(--main2-color);
    margin-top: 130px;
    font-size: 60px;
}
.features .row .icon-holder::after{
    content: counter(num);
    color: #33d1cc3b;
    font-size: 200px;
    height: 200px;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}
.portfollio{
    background-color: var(--background-color);
}
.portfollio ul li{
    padding: .5rem 1rem;
    cursor: pointer;
}
.portfollio ul li:not(.active):hover{
    color: var(--primary-color);
}
.portfollio ul .active{
    background-color: var(--primary-color);
    color: var(--secondry-color);
}
.portfollio .box{
    padding: 5px;
    overflow: hidden;
    position: relative;
}
.portfollio .box::after{
    content: attr(data-work);
    position: absolute;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    background-color: #33d1ccbe ;
    bottom: 5px;
    left: -100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    transition: .3s;
}
.portfollio .box:hover::after{
    left: 5px;
}
.about .discription{
    max-width: 500px;
}
.team{
    background-color: var(--background-color);
}
.team .card-t h4{
    padding: .9rem;
    background-color: var(--main2-color);
}
.team .y-title h2{
    color: var(--secondry-color);
}
.proiect{
    background-color: var(--main-color);
}
.blog .b-card{
    border-radius: 7px;
    overflow: hidden;
    border: #ccc 1px solid;
}
.supscribe{
    background-color: var(--secondry-color);
}
.supscribe input[type="email"]{
border: none;
border-bottom: 1px solid white;
}
.supscribe input[type="email"]:focus{
    outline: none;
}
.supscribe input[type="email"]::placeholder{
    color:white
}
.supscribe input[type="submit"]{
    background-color: var(--main-color);
    color: var(--secondry-color);
}
footer{
    background-color: var(--main-color);
}
footer .one{
    color: var(--main2-color);
}
footer .two{
    color: var(--secondry-color);
}
footer ul li a{
    font-size: 14px;
    font-weight: bold;
}
footer ul li a:hover{
    color: var(--primary-color);
}
footer ul li a svg{
    margin: 30px 10px;
    font-size: 30px;
}